body{
    background: url(resources/bg.png);
    background-position: center;
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.container{
    background-color: rgba(0, 0, 0, 0.814);
    padding: 20px;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    border: 2px solid rgb(0, 195, 255);
    border-radius: 20px;
}
.logo{
    display: flex;
    height: 120px;
    width: 100%;
    margin: 0px 0 20px 0;
}
.logo>img{
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    border: 0.5px solid rgb(0, 195, 255);
    box-shadow: 0px 0px 12px 2px rgb(3, 178, 247);
}
.form{
    border-radius: 30px;
    padding: 20px;
    color: rgb(0, 221, 255);
    font-size: 20px;
}
.input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
label:hover{
    color:#00fc1d;
}
input{
    text-decoration: none;
    border: 2px solid rgb(0, 221, 255);
    border-radius: 10px;
    background-color: transparent;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    color: white;
}
.form input:focus{
    border: 2px solid #ffffff;
    outline: none;
}
input::placeholder{
    color: black;
}
.form .input-group:focus-within label {
    color:  #ffffff;
}
.button{
    display: flex;
}
button{
    margin: 0 auto;
    font-size: 25px;
    background: linear-gradient(90deg,rgb(3, 60, 78),black 80%);
    /* background-color: transparent; */
    border: 0.5px solid rgb(0, 195, 255);
    border-radius: 10px;
    padding: 5px 15px;
    color: rgb(0, 195, 255);
    scale: 1;
    transition: all 0.3s;
}
button:hover{
    background: linear-gradient(90deg,rgb(7, 232, 232),rgb(7,232,232));
    background-color: rgb(11, 173, 173);
    color: black;
    transform: scale(1.1);

}
button:active{
    transform: scale(0.9);
}
.details{
    color: aliceblue;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: rgb(0, 221, 255);
}
.help{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.hidden{
    display: none;
}
.toggle{
    text-align: end;
    font-size: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(0, 0, 0);
}
.modal input{
    color: black;
}

.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





@media screen and (max-width: 520px){
    .input-group{
        flex-direction: column;
        margin-bottom: 15px;
    }
    * {
        font-size: 15px;
    }
    .container, .form{
        padding: 7px;
    }
    input{
        max-width: 80vw;
        margin: 0 auto;
    }
    label{
        margin-left: 20px;
    }

}